<div class='col-xs-12 col-sm-12 col-lg-12 col-md-offset-3'>
    <h3>Biography</h3>
</div>
    

<div class='col-xs-12 col-md-11 col-lg-10 col-md-offset-1'>

<br><br>

    <p>Painter Adele Wagstaff was born in Yorkshire and trained at the University of Newcastle upon Tyne and the Slade School of Fine Art, where her teachers included Andrew Maclaren, Myles Murphy, Patrick Symons, Norman Norris and Euan Uglow. Following her graduation from the Slade, where, in the life room Adele worked from the nude in sustained poses, she continues to focus on working from the human figure, portrait and still life. She has taught in Belgium, Germany, Italy and throughout the UK including West Dean College, Putney School of Art and Design, Slade School of Fine Art and Royal Academy of Art.</p><br />

    <p>Adele has been shortlisted for the Jerwood Drawing Prize and the BP Portrait Award, and her work has been exhibited in the National Portrait Gallery, Discerning Eye, Royal West of England Academy, the Canadian Portrait Academy and the Royal Society of Portrait Painters. She continues to exhibit regularly in London and throughout the UK. Adele was Artist in Residence at Leighton Park School, Reading and she has undertaken a number of portrait commissions which have included Canon Geoffrey Brown, St Martin’s in the Fields, London and Lord Alex Bernstein.</p><br />

    <p>Following being shortlisted for the BP Travel Award in 2006 Adele has made regular visits to Luxor, Egypt where she has been working on a series of portraits in the small communities of Alawamia and Gezeera villages along the Nile. This group of portraits have resulted in solo exhibitions at Doncaster Museum & Art Gallery and the Petrie Museum of Egyptian Archaeology, UCL as well as individual pieces being included in several other group exhibitions. </p><br />

    <p>As a violinist herself Adele has frequently returned to the theme of musicians rehearsing in her work. She has worked alongside the Chilingirian Quartet during residencies at West Dean College and she continues to work with the Rehearsal Orchestra in both London and Edinburgh during orchestral courses. </p><br />

    <p>Adele contributes regularly to The Artist magazine as well as Artists and Illustrators and has published two books: Still Life Painting in Oils, 2012, and Painting the Nude, 2015, both published by the Crowood Press. </p><br />
    
    
    <!--
    <p class='parFirstLetter'>Adele is a painter based near London. She was born in Yorkshire and trained at the University of Newcastle upon Tyne and the Slade School of Fine Art London where her teachers include Andrew Maclaren, Myles Murphy, Patrick Symons, Norman Norris and Euan Uglow. Following her graduation from the Slade where, in the life room Adele worked from the nude in the sustained pose, she continues to focus on the observed in her work. The human form, portrait and everyday objects found around us are her inspiration. </p>
    <br />

    <p class='parFirstLetter'>Adele was Artist in Residence at Leighton Park School, Reading and she has undertaken a number of portrait commissions which have included Canon Geoffrey Brown, St Martin’s in the Fields, London and Lord Alex Bernstein.</p><br />

    <p class='parFirstLetter'>Since 2006 Adele has made regular visits to Luxor, Egypt where she has been working on a series of portraits in the small communities of Alawamia and Gezeera villages on the edge of the town. This group of portraits have resulted in a number of solo exhibitions at Doncaster Museum & Art Gallery and the Petrie Museum of Egyptian Archaeology, UCL as well as individual pieces being included in several other group exhibitions. </p><br />

    <p class='parFirstLetter'>As a violinist she has frequently returned to the theme of musicians rehearsing and she continues to have a number of residencies with the Rehearsal Orchestra in both London and Edinburgh during orchestral courses. Most recently she has been working alongside the Chilingirian Quartet during residencies at West Dean College.</p><br />

    <p class='parFirstLetter'>Adele has been shortlisted for the Jerwood Drawing Prize, the BP Portrait Award and her work has been exhibited in the National Portrait Gallery, Discerning Eye, Royal West of England Academy, the Canadian Portrait Academy and she continues to exhibit regularly in London and throughout the UK. Recent exhibitions have included the Royal Society of Portrait Painters annual exhibition.</p><br />

    <p class='parFirstLetter'>Adele teaches drawing, printmaking and painting courses at Royal Academy, West Dean College, Arte Umbria, Putney School of Art and Slade School of Fine Art, including portrait painting, life drawing and painting and still-life.</p>
    <p>Her book <i>Still Life Painting in Oils</i> was published by the Crowood Press in 2012 and she contributes to The Artist magazine and Artists & Illustrators.</p><br />

    <p class='parFirstLetter'>Her second book <i>Painting the Nude</i> also for the Crowood Press was published early in 2015.</p> 
-->
</div>
<div class='clear'></div>
<div style='clear:both;'><br /><br /><br /><br /></div>