<div class='container'>
    <div class='row'>
        <div class='jumbotron jumboTitle' style='vertical-align:middle;'>      
            <div class='col-xs-12 text-center'>
                <br /><br /><br /><br />                
                <h2>Welcome to the website of artist Adèle Wagstaff.</h2>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12 col-md-offset-1'>
            <p><i>No images can be used without prior consent of the artist.</i></p>    
        </div>
    </div>
    <div class='row'>
        <div class='jumbotron jumboExhib'>
            <h3>Current and future exhibitions</h3>
        </div>
    </div>
</div>
<div style='clear:both;'><br /><br /><br /><br /></div>