<div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-12 col-sm-12 col-lg-12 col-md-offset-3'>
            <h3>Publications</h3>
        </div>
    </div>
    
    <div class='row'>
        <p style="padding:20px;"></p>
    </div>
    
    <div class='row'>
        <div class='col-xs-12 col-md-offset-2'>
            <br /><br />
            <p>500 Portraits 25 Years of the BP Portrait Award Revised & Updated Edition National Portrait Gallery 2015</p><br />
        </div>
    </div>
    
    
    <div class='row'>
        <div class='col-sm-2'></div>
        <div class="col-xs-12 col-sm-4 text-right">   
            <div class="media-left media-middle">
                <img src="images/paintingStillLifecover.jpg" />
            </div>
        </div>
        <div class='col-sm-1'>&nbsp;</div>
        <div class="col-xs-12 col-sm-4 text-left">
            <div class="media">
                <div class="media-body">
                    <br /><br />
                    <h3>Painting Still Life in Oils</h3><br />
                    <p>published by The Crowood Press 2012</p>
                    <p>Copies of this <a href="http://www.crowood.com/details.asp?isbn=9781847973139&t=Painting-Still-Life-In-Oils">book</a> may be ordered directly from The Crowood Press </p>
                </div>
            </div>
        </div>
   </div>
     
    <div class='row'>
        <p style="padding:20px;"></p>
    </div>
    
    <div class='row'>
        <div class='col-sm-2'></div>
        <div class="col-xs-12 col-sm-4 col-sm-push-5 text-left">   
            <div class="media-left media-middle">
                <img src="images/PaintingTheNudeCover.jpg" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-4  col-sm-pull-4 text-right">
            <div class="media">
                <div class="media-body">
                    <br /><br />
                    <h3>Painting the Nude</h3><br />
                    <p>published by The Crowood Press 2015</p>
                    <p>Copies of this <a href="http://www.crowood.com/details.asp?isbn=9781847979056&t=Painting-the-Nude-in-Oils">book</a> may be ordered directly from The Crowood Press </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class='row'>
        <p style="padding:20px;"></p>
    </div>
    
    <div class='row'>
        <div class='col-xs-12 col-md-offset-2'>
            <br /><br />
            <p>500 Portraits BP Portrait Award published by the National Portrait Gallery 2011</p><br />
            
            <p>‘Contemplation’ features on the cover of Heat Wave by Penelope Lively published by Penguin Modern Classics 2011.</p><br />
            
            <p>Drypoint Printing – Artists & Illustrators September 2016</p>
            <p>Silverpoint Drawing – Artists & Illustrators Summer 2016</p>
            <p>Painting the Painter – Artists & Illustrators March 2016</p>
            <p>Frank Auerbach: A Celebration of Paint – Artists & Illustrators October 2015</p>
            <p>Figure Painting in Oils Masterclass – Artists & Illustrators May 2015</p>
            <p>Sir Joshua Reynolds – Artists & Illustrators April 2015 </p>
            <p>Painting Nudes - Your Questions - Artists & Illustrators March 2015</p> 
            <p>Portrait Essentials; The Profile - Artists & Illustrators November 2013</p>
            <p>Portrait Essentials; Face to Face - Artists & Illustrators October 2013</p>
            <p>Portrait Essentials; Structuring the Head - Artists & Illustrators September 2013</p><br />
            
            <p>Prints from Sculpture-inspired drawings - The Artist Dec 2012</p>
            <p>Portraits from Egypt - The Artist Nov 2012</p><br />
            
            <p>New Ways with Still Life; Inspired by the Arts - Artists & Illustrators August 2012</p>
            <p>New Ways with Still Life; Portrait Suggestions - Artists & Illustrators Summer 2012</p>
            <p>New Ways with Still Life; Influences, inspirations and themes - Artists & Illustrators July 2012</p><br />
            
            <p>Life Drawing; Reductive Drawing & Tone - The Artist March 2012</p>
            <p>Life Drawing; Focus on Line - The Artist Feb 2012</p><br />
            
            <p>BP Portrait Award 2006 National Portrait Gallery 2006</p><br />
            
            <p>The Jerwood Drawing Prize 2005 Wimbledon School of Art 2005</p><br />
        </div>
    </div>
</div>
<div style='clear:both;'><br /><br /><br /><br /></div>