<div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-12 col-sm-12 col-lg-12 text-center'>
            <h3>Teaching</h3>
        </div>
        <div class='col-sm-2 col-lg-10'></div>
        <div class='col-xs-12 col-sm-10 col-lg-10'>
            
            <br />
            
            <p>An experienced tutor and lecturer Adele has taught courses and workshops in Schools, Colleges and Art Schools. These have included Charterhouse, EEC International School Antwerp, ACS International School Egham, St Pauls Cathedral School, Leighton Park School, Caterham and Woldingham Schools and for many years Adele has taught on the short course programmes at the Slade School of Fine Art and West Dean College.
            </p>
            
            <br/>
            
            <p>Currently Adele teaches at <a href="http://www.putney-art-design.co.uk/" target=_new>Putney School of Art & Design</a> , <a href="https://www.westdean.org.uk/" target=_new>West Dean College</a> , <a hrfe="http://www.arteumbria.com/" target=_new>Arte Umbria</a>  and <a href="https://www.royalacademy.org.uk/" target=_new>the Royal Academy</a>. 
            </p>
            
            <br />
            
            <p>Forthcoming courses include <br />
                Portrait Painting in Oils at West Dean College and Drawing Essentials: Drawing the Human Form and Anatomy at <a href="https://www.royalacademy.org.uk/event/courses-classes-drawing-essentials" target=_new>the Royal Academy</a>.<br />
                Drawing & Music: Picturing Movement is an exciting new course where participants will have the opportunity to work from professional musicians within the historic Life Room of <a href="https://www.royalacademy.org.uk/event/courses-classes-drawing-music" taget=_new>the Royal Academy Schools</a>. 
            </p>
            
            <br />
            
            <p>In October 2017 Adele will be leading a week of painting and art history in the beautiful and historic city of Bruges <a href="http://paintingineurope.com/index.php" target=_new>http://paintingineurope.com/index.php</a>.
            </p>
            
            <br />
            
            <p>For further information on each course or to enrol please follow the links above. 
            </p>
            
        
    </div>
</div>

      